'.source.wake':
  'editor':
    'foldEndPattern': ''
    'commentStart': '// '
    'increaseIndentPattern': ''
    'decreaseIndentPattern': ''
  'bracket-matcher':
    autocompleteCharacters: [
      '()'
      '[]'
      '{}'
      '""'
    ]
